<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      +Partidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title appTextoAzul size="large">
        Partidos
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let partido of partidos">

      <ion-label>{{partido.nome  | formatarTextoMaiusculo   }}
        .{{partido.sigla  | formatarTextoMinusculo}}
      </ion-label>
      <ion-button color="light">

        <app-button-go-to-link [idPartido]="partido.id" name="Membros" icon="search"></app-button-go-to-link>

      </ion-button>
    </ion-item>

  </ion-list>





</ion-content>