<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Partidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let partido of partidos">

      <ion-label>{{partido.nome}} .{{partido.sigla}} </ion-label>
      <ion-button color="light">
        Membros
      </ion-button>
    </ion-item>

  </ion-list>





</ion-content>